<div class="modal hide" data-form-type='{{:type}}' data-form-resource='contrib-item'>
    <div class="modal-header" data-bind="css: headerCss">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            {{if type === 'create'}}
                Новая связь
            {{else}}
                Изменить связь
            {{/if}}
        </h3>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class="control-group">
                <div class="help-inline error-message-inline" data-bind="validationMessage: url"></div>
                <div class="controls controls-row">
                    <select id="create_scheme" data-bind="options: _availableSchemes,
                optionsValue: function(item) {return item.id;},
                optionsText: function(item) {return item.label;},
                optionsCaption: 'Тип связи...', value: scheme" data-default-focus>
                    </select>
                    <input type="text" id="url" data-bind="value: url, disable: _readOnly" placeholder="Ссылка на источник">
                </div>
            </div>
            <div class="control-group">
                <div class="help-inline error-message-inline" data-bind="validationMessage: name_1"></div>
                <div class="help-inline error-message-inline" data-bind="validationMessage: name_2"></div>
                <div class="controls controls-row">
                    <input type="text" id="create_name_1" data-bind="autocompleteWithScheme: name_1,
                     autocompleteOpts : {url: '/index', scheme : _scheme().name_1}, disable: _readOnly" placeholder="Имя 1">
                    <input type="text" id="create_name_2" data-bind="autocompleteWithScheme: name_2,
                     autocompleteOpts : {url: '/index', scheme : _scheme().name_2}, disable: _readOnly" placeholder="Имя 2">
                </div>
            </div>
            <div class="control-group">
                <div class="help-inline error-message-inline" data-bind="validationMessage: relations"></div>
                <div class="controls controls-row">
                    <input id="create_relations" name="create_relations" class="tm-input tm-input-small" type="text"
                           data-bind="tageditWithScheme: relations, tageditOpts : {url: '/index', scheme : _scheme().relations}, disable: _readOnly" placeholder="Связь">
                    </input>
                </div>

            </div>
            <div class="control-group">
                <div class="help-inline error-message-inline" data-bind="validationMessage: date"></div>
                <div class="help-inline error-message-inline" data-bind="validationMessage: dateTo"></div>
                <div class="controls controls-row">
                    <input type="text" data-bind="datetime: date, disable: _readOnly" placeholder="Дата">
                    <input type="text" data-bind="datetime: dateTo, disable: _readOnly" placeholder="Дата по">
                </div>
            </div>
            <div class="control-group">
                <div class="help-inline error-message-inline" data-bind="validationMessage: source"
                     style="display: none;"></div>
                <div class="controls">
                    <textarea type="text" id="source" data-bind="value: source, disable: _readOnly" placeholder="Текст источника" style="width: 432px" rows="5">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        {{if type === 'create'}}
        <span class="pull-left"><input type="checkbox" data-bind="checked: _isCreateNext"></a> Создать следующую</span>
        {{else}}
        <a href="#" class="btn  btn-danger pull-left" data-bind="click: remove">Удалить</a>
        {{/if}}
        <a href="#" class="btn" data-bind="click: cancel">Закрыть</a>
        <a href="#" class="btn btn-primary" data-bind="click: save">Сохранить</a>
    </div>
</div>
